html {
  font-size: 14px;
}

p {
    margin: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 20px;
    max-width: 400px;
    min-width: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 10px;
}

.column:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.pokemon-name{
    font-weight: 700;
}

.card-subtitle {
    font-weight: 600;
    margin-right: 5px;
}

.fw600 {
    font-weight: 600;
}

.flex-column-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


