html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 20px;
    max-width: 200px;
    min-width: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 10px 10px;
}

    .column:hover {
        cursor: pointer;
        transform: scale(1.2);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

.pokemon-name{
    font-weight: 700;
}

.type {
    font-weight: 600;
}
